h1 {
    font-size: 5rem;
    margin-left:300px ;
}

nav {
    display: flex;
    flex-wrap: wrap;
  background-color:   #0082e6;
  color: white;
   justify-content:stretch;
    padding:10px;
    align-items: center;
   
}

img {
    width:100px;
    height:100px;
}

.title-name {
    margin-left:20px;
   vertical-align: middle;
   flex-wrap: wrap;
   font-size: 2rem;
}

@media screen and (max-width:700px) {
    h1 {
        font-size: 3rem;
        margin-left:150px ;
    }
}